*{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 25vw 37.5vw 37.5vw;
    /* border: 2px solid black;; */
    height: 100vh;
}
.info{
    background-color: #60678d;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    padding-top: 7%;
    padding-left: 7%;
}
.contact {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2vw;
}
.form{
    padding-top: 3%;
    padding-left: 3%;
    font-size: 1vw;
    grid-column-start: span 2;

}
.message{
    font-weight: bold;
    font-size: 2vw;
    grid-column-start: 2;
}
.inputHeight {
    height: 3vh;
    width: 25vw;
}
.thirdColumn{
    grid-column-start: 3;
}
.second-column{
    grid-column-start: 2;
}